<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="base_url" value="http://automationpractice.com"/>
    <add key="signinpage_url" value="http://automationpractice.com/index.php?controller=authentication"/>
    <add key="createacc_url" value="http://automationpractice.com/index.php?controller=authentication#account-creation"/>
    <add key="forgotpass_url" value="http://automationpractice.com/index.php?controller=password"/>
  </appSettings>
</configuration>